body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: aliceblue;
}

header {
    width: 100%;
    margin: 0.5rem;
    background-color: gray;
}

nav {
    width: 80%;
    border: thick double #c42222;
}

footer {
    width: 98%;
    margin-top: 0.5rem;
    background-color:#00ffff;
}

main {
    flex: 100%;
    width: 90%;
    background-color: beige;
    align-content: center;
}

img {
    width: 10rem;
}