html,
body {
  height: 100%;
  overflow: hidden;
  background-color: aliceblue;
}

body {
  margin: 0.5rem;
}

.button {
  margin: 0.5rem 0.2rem 2rem 0.2rem;
}

textarea.full {
  margin: 0.75rem;
}

textarea {
  resize: none;
}

canvas {
  border: thick double #32a1ce;}

.highlight {
  background-color: gold;
}
