<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.1/dist/cdn.min.js"
    ></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog: A Feed | To Blog for Blogging</title>
  </head>
  <body>
    <div class="flex">
      <a class="button" href="/">Form</a>
      <a class="button" href="/blog-feed">Feed</a>
    </div>
    <div x-data="formModel()">
      {% block body %}
      <form
        action="http://127.0.0.1:5000/create-blog"
        method="post"
        enctype="multipart/form-data"
      >
        <fieldset class="flex two center">
          <label
            ><input id="title" type="text" placeholder="Title!" name="title"
          /></label>
          <label
            ><input
              id="desc"
              type="text"
              placeholder="Description!"
              name="desc"
          /></label>
          <textarea
            class="full"
            name="content"
            placeholder="Content!"
          ></textarea>
          <canvas
            width="800"
            height="400"
            @dragover.prevent.stop="isHighlighted = true"
            @drop.prevent="imageDrop($event)"
            @dragleave="isHighlighted = false"
            x-ref="canvas"
            :class="isHighlighted ? 'highlight' : ''"
          ></canvas>
          <input
            type="file"
            name="image"
            accept="image/*"
            x-ref="fileInput"
            style="display: none"
          />
          <input class="full" type="submit" value="Create Blog" />
        </fieldset>
      </form>
      {% endblock %}
    </div>
    <script>
      function formModel() {
        return {
          isHighlighted: false,
          imageDrop(e) {
            this.isHighlighted = false;
            if (e.dataTransfer.items) {
              [...e.dataTransfer.items].forEach((item) => {
                if (item.type.includes("image")) {
                  const file = item.getAsFile();
                  const canv = this.$refs.canvas;
                  const canvRatio = canv.width / canv.height;

                  const ctx = canv.getContext("2d");
                  const img = new Image();
                  img.onload = () => {
                    ctx.clearRect(0, 0, canv.width, canv.height);
                    const imgRatio = img.width / img.height;
                    let width, height, offsetX, offsetY;
                    if (imgRatio > canvRatio) {
                      width = canv.width;
                      height = canv.width / imgRatio;
                      offsetX = 0;
                      offsetY = (canv.height - height) / 2;
                    } else {
                      width = canv.height * imgRatio;
                      height = canv.height;
                      offsetX = (canv.width - width) / 2;
                      offsetY = 0;
                    }
                    ctx.drawImage(img, offsetX, offsetY, width, height);
                  };
                  img.src = URL.createObjectURL(file);
                  this.$refs.fileInput.files = e.dataTransfer.files;
                }
              });
            }
          },
        };
      }
    </script>
  </body>
</html>
