{% extends 'base.html' %}

{% block main %}
<form>
    <p>Create and Submit a blog</p>
    <label for="title">Blog title:</label>
    <input id="title" type="text">
    <label for="content">Blog content:</label>
    <textarea name="content"></textarea>
    <label for="author">Blog author:</label>
    <input id="author" type="text">
    <label for="date">Post date:</label>
    <input id="date" type="date">
    <label for="image">Featured Image:</label>
    <input id="image" type="file">
    <br>
    <input type="submit" value="Submit" />
</form>
{% endblock main %}